<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- vueloid Column -->
  <ng-container matColumnDef="vueloid">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by vueloid"
    >
      Vuelo ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.vueloid }}</td>
  </ng-container>

  <!-- codigo Column -->
  <ng-container matColumnDef="codigo">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by codigo"
    >
      Código
    </th>
    <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
  </ng-container>

  <!-- origen Column -->
  <ng-container matColumnDef="origen">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by origen"
    >
      Origen
    </th>
    <td mat-cell *matCellDef="let element">{{ element.origen }}</td>
  </ng-container>

  <!-- destino Column -->
  <ng-container matColumnDef="destino">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by destino"
    >
      Destino
    </th>
    <td mat-cell *matCellDef="let element">{{ element.destino }}</td>
  </ng-container>

  <!-- salida Column -->
  <ng-container matColumnDef="salida">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by salida"
    >
      Salida
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.salida | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- llegada Column -->
  <ng-container matColumnDef="llegada">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by llegada"
    >
      Llegada
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.llegada | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- capacidad Column -->
  <ng-container matColumnDef="capacidad">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by capacidad"
    >
      Capacidad
    </th>
    <td mat-cell *matCellDef="let element">{{ element.capacidad }}</td>
  </ng-container>

  <!-- acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Reservar"
        matTooltipShowDelay="1000"
        (click)="createReserva(element.vueloid)"
      >
        <mat-icon style="color: green">edit_calendar</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
