<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- VueloID Column -->
  <ng-container matColumnDef="VueloID">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by VueloID"
    >
      VueloID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.vueloid }}</td>
  </ng-container>

  <!-- Codigo Column -->
  <ng-container matColumnDef="Codigo">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Codigo"
    >
      Codigo
    </th>
    <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
  </ng-container>

  <!-- Origen Column -->
  <ng-container matColumnDef="Origen">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Origen"
    >
      Origen
    </th>
    <td mat-cell *matCellDef="let element">{{ element.origen }}</td>
  </ng-container>

  <!-- Destino Column -->
  <ng-container matColumnDef="Destino">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Destino"
    >
      Destino
    </th>
    <td mat-cell *matCellDef="let element">{{ element.destino }}</td>
  </ng-container>

  <!-- Salida Column -->
  <ng-container matColumnDef="Salida">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Salida"
    >
      Salida
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.salida | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- Llegada Column -->
  <ng-container matColumnDef="Llegada">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Llegada"
    >
      Llegada
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.llegada | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- Capacidad Column -->
  <ng-container matColumnDef="Capacidad">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Capacidad"
    >
      Capacidad
    </th>
    <td mat-cell *matCellDef="let element">{{ element.capacidad }}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="Acciones">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by Capacidad"
    >
      Acciones
    </th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Reservar"
        matTooltipShowDelay="1000"
        (click)="createReserva(element.vueloid)"
      >
        <mat-icon style="color: green">edit_calendar</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
