<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- id Column -->
  <ng-container matColumnDef="id">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by id"
    >
      Reserva ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- vueloId Column -->
  <ng-container matColumnDef="vueloId">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by vueloId"
    >
      Vuelo ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.vueloId }}</td>
  </ng-container>

  <!-- pasajeroId Column -->
  <ng-container matColumnDef="pasajeroId">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by pasajeroId"
    >
      Pasajero ID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.pasajeroId }}</td>
  </ng-container>

  <!-- createdAt Column -->
  <ng-container matColumnDef="createdAt">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by createdAt"
    >
      Fecha Reserva
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.createdAt | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- estado Column -->
  <ng-container matColumnDef="estado">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by estado"
    >
      Estado
    </th>
    <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
  </ng-container>

  <!-- acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Cancelar Reserva"
        matTooltipShowDelay="1000"
        (click)="deleteReserva(element.id)"
      >
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
