<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  <!-- reservaid Column -->
  <ng-container matColumnDef="reservaid">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by reservaid"
    >
      ReservaID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.reservaid }}</td>
  </ng-container>

  <!-- vueloid Column -->
  <ng-container matColumnDef="vueloid">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by vueloid"
    >
      VueloID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.vueloid }}</td>
  </ng-container>

  <!-- pasajeroid Column -->
  <ng-container matColumnDef="pasajeroid">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by pasajeroid"
    >
      PasajeroID
    </th>
    <td mat-cell *matCellDef="let element">{{ element.pasajeroid }}</td>
  </ng-container>

  <!-- fechareserva Column -->
  <ng-container matColumnDef="fechareserva">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by fechareserva"
    >
      FechaReserva
    </th>
    <td mat-cell *matCellDef="let element">
      {{ element.fechareserva | date : "yyyy/MM/dd hh:mm a" }}
    </td>
  </ng-container>

  <!-- estado Column -->
  <ng-container matColumnDef="estado">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by estado"
    >
      Estado
    </th>
    <td mat-cell *matCellDef="let element">{{ element.estado }}</td>
  </ng-container>

  <!-- acciones Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        matTooltip="Cancelar Reserva"
        matTooltipShowDelay="1000"
        (click)="deleteReserva(element.reservaid)"
      >
        <mat-icon style="color: red">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
